/.htaccess
prepend.php
append.php
DEVELOP
es-f.log
local
addon/es
application/yuelo/help.inline.php
plugin/detectmobile
plugin/validate
plugin/xml
js/*/_*
js/*/*/*.org.*
jsDebugger
*.org.php
.save*
custom
*.aop.php
*~
git-ftp.lck
