[submodule "application/lib/yuelo"]
	path = application/lib/yuelo
	url = git://yuelo.git.sourceforge.net/gitroot/yuelo/yuelo
[submodule "application/lib/yryie"]
	path = application/lib/yryie
	url = git://yryie.git.sourceforge.net/gitroot/yryie/yryie
