@charset "utf-8";
/*
 *
 */

#login, td, th, label, input, select, p {
  background: white;
  font-size: 12px;
}

/* for IE surrounding div */
#content {
	text-align: center;
}

table#login {
  width: 310px;
  margin: 50px auto 0.5em;
  border: 1px solid #4D4D4D;
	text-align: center;
}

table#login td {
  padding: 5px 10px;
}

table#login input,
table#login select {
  width: 100%;
  padding: 0 !important;
}

table#login #button {
  width: 100%;
  padding: 2px;
  background-color: white;
  border: 1px outset black;
}

table#login td.menu {
  background-color: #4D4D4D;
  color: white;
	text-align: left;
	font-size: bigger;
  font-weight: bold;
}

table#login td.label {
  background-color: #EFEFEF;
}

table#login td.error {
  background-color: #EFEFEF;
  font-style: italic;
}

table#login td.value {
	text-align: left;
  border-top: 1px solid #4D4D4D;
}

table#login td.cookie {
	text-align: left;
  padding: 0 10px;
}

#copyright {
  font-size: smaller;
  text-align: center;
}