@charset "utf-8";
/*
 *
 */

#login, label, input, select, p, div {
  background: white;
  font-size: 12px;
}

/* for IE surrounding div */
#content {
	text-align: center;
}

#logintable {
  width: 310px;
  margin: 50px auto 0.5em;
  border: 1px solid #4D4D4D;
	text-align: center;
  font-size: 12px;
}

#logintable td {
  padding: 7px 10px;
}

#logintable input,
#logintable select {
  width: 100%;
  padding: 0 !important;
}

#logintable #button {
  width: 100%;
  padding: 2px;
  background-color: #EFEFEF;
  border: 1px outset black;
}

#logintable td.menu {
  background-color: #4D4D4D;
  color: white;
	text-align: left;
	font-size: bigger;
  font-weight: bold;
}

#logintable td.label {
  background-color: #EFEFEF;
}

#logintable td.error {
  background-color: #EFEFEF;
  font-style: italic;
}

#logintable td.value {
	text-align: left;
  border-top: 1px solid #A0A0A0;
}

#logintable td.cookie {
	text-align: left;
  padding: 0 10px;
}

#copyright {
  font-size: smaller;
  text-align: center;
}