@charset "utf-8";
/*
 *
 */

#login, label, input, select, p, div {
  background: white;
  font-size: 12px;
}

/* for IE surrounding div
#content {
	text-align: center;
}
 */

td {
  vertical-align: top;
}

table#content td {
  padding:50px 3% 0;
}

table#content td td {
  padding: 7px 10px;
}

#logintable {
  width: 310px;
  margin: 0 auto 0.5em;
  border: 1px solid #4D4D4D;
  font-size: 12px;
}

#logintable input,
#logintable select {
  width: 100%;
  padding: 0 !important;
}

#logintable #button {
  width: 100%;
  padding: 2px;
  background-color: #EFEFEF;
  border: 1px outset black;
}

#logintable td.menu {
  background-color: #4D4D4D;
  color: white;
	font-size: bigger;
  font-weight: bold;
}

#logintable td.label {
  text-align: center;
  background-color: #EFEFEF;
  border-bottom: 1px solid #A0A0A0;
}

#logintable td.error {
  font-style: italic;
}

#twitter_update_list {
  padding-left: 1.5em;
}

#copyright {
  font-size: smaller;
  text-align: center;
}