<configuration>

  <section name="Plugin">

    <section name="Paypal">

      <config name="Pattern">
        <![CDATA[
        ~pics/logos/logoPayPal_51x14\.gif~i => 0
        ]]>
      </config>

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Name">Check, if seller accepts paypal payments</config>

      <config name="Category">Auction</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.1.0</config>
    </section>

  </section>

</configuration>
