<configuration>

  <section name="Plugin">

    <section name="Debug">

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Mobile" type="bool">FALSE</config>

      <config name="Name"><![CDATA[Add Debug & Trace links to system menu]]></config>

      <config name="Category">System</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.1.0</config>
    </section>

  </section>

</configuration>
