<configuration>

  <section name="Plugin">

    <section name="SellerItems">

      <!--
        URL to find sellers other items, use
        - $HOMEPAGE for your prefered ebay haomepage
        - $SELLER dor sellers name
      -->
      <config name="OtherItems">
        <![CDATA[
        http://search.$HOMEPAGE/search/search.dll?seller=1&amp;sass=$SELLER
        ]]>
      </config>

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Name">Add a link "View sellers other items" to seller name</config>

      <config name="Category">Auction</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.1.0</config>
    </section>

  </section>

</configuration>
