<configuration>

  <section name="Plugin">

    <section name="RefreshBackground">

      <!--
        PHP binary
      -->
      <config name="PHP"></config>

      <!--
        Refresh auctions automatic every x minutes
      -->
      <config name="MaxAge" type="int">120</config>

      <!--
        Backgroud refresh log file (in user dir),
        (use other name for debugging only)
      -->
      <config name="LogFile">refresh-bg.log</config>

      <!--
        Max. backgroud refresh log file size
        Start new file, if file size exceeds the max allowed size
        default: 1024 KiB == 1024*1024 Bytes
      -->
      <config name="LogFileSize" type="int">1024</config>

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Name">Perform the automatic refresh of auctions in background</config>

      <config name="Category">Auction</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.2.2</config>
    </section>

  </section>

</configuration>
