<configuration>

  <section name="Plugin">

    <section name="AuctionStats">

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Mobile" type="bool">FALSE</config>

      <config name="Name">Show some summarized infos about all auctions on top of page</config>

      <config name="Category">Interface</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.2.1</config>
    </section>

  </section>

</configuration>
