<configuration>

  <section name="Plugin">

    <section name="esniperVersion">

      <config name="ChangeLog">http://esniper.cvs.sourceforge.net/viewvc/esniper/esniper/ChangeLog</config>

      <config name="Period">1</config>

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Name">esniper version check on session start and periodic</config>

      <config name="Category">Core</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.1.0</config>
    </section>

  </section>

</configuration>