/*
 *
 */
@charset "utf-8";

table.list {
	width: 100%;
}

table.list td {
	padding: 5px;
}

div#HelpTopic {
	padding: 15px 20px;
}

.tabberlive .tabbertab {
	border-left: dotted gray 1px;
	border-right: dotted gray 1px;
	border-bottom: dotted gray 1px;
}