<!-- Module configuration -->

<configuration>

  <section name="Module">

    <section name="Backend">

      <!--
        Which accounts can edit the configuration online
        provide a pipe "|" separated string with account names defined in $users:
        Admins = <account1>[|<account2>[|...]]
      -->
      <config name="Admins"></config>

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="LoginRequired" type="bool">TRUE</config>
      <config name="Mobile" type="bool">FALSE</config>

      <config name="Actions">index|install|deinstall|reinstall|enable|disable|toggle|info</config>

      <config name="Name">Module and plugin administration</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.2.0</config>

    </section>

  </section>

</configuration>
