/*
 *
 */
@charset "utf-8";

div.gadget {
	float: left;
 	width: 47%;
}

div.gadget div.inner {
	width: 360px;
	height: 210px;
	padding: 20px;
	margin: 10px auto;
	text-align: center;
  background-color: white;
}
