<configuration>

  <section name="Plugin">

    <section name="API">

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="Name">API calls without HTML output, e.g.for AJAX implementations</config>

      <config name="Category">Core</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.1.0</config>
    </section>

  </section>

</configuration>
