/*
 *
 */
@charset "utf-8";

table#auctions tr.category {
  border-top: dashed gray 1px;
  background: url(../../../../layout/default/images/th.png) top;
  background-color: white;
}

/* highest bidder on not ended auction */
table#auctions tr.highest {
	background-color: #D0FFD0;
}

/* auction won */
table#auctions tr.won {
	background-color: #80FF80;
}

/* auction is still higher as auction / group bid */
table#auctions tr.outbid {
	background-color: #FFE0E0;
}

/* auction lost */
table#auctions tr.lost {
	background-color: #FFC0C0;
}

table#auctions td.group_active {
  background: url(images/greenback.gif);
}

div.multijsitem {
  float: left;
  height: 3em;
}

select#multiaction option {
  padding: 1px 0 1px 22px;
}

#upgradeauctions {
  height: 42px;
  padding: 5px;
}

#upgradeauctions .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: url(../../../../layout/default/images/money.gif);
}
