<!-- Module configuration -->

<configuration>

  <section name="Module">

    <section name="Support">

      <!-- *******************************************************************
      **  Don't change from here
      ******************************************************************** -->

      <config name="LoginRequired" type="bool">TRUE</config>
      <config name="Mobile" type="bool">FALSE</config>

      <config name="Name">Some system informations for support requests</config>

      <config name="Category">System</config>

      <config name="Author">Knut Kohl</config>
      <config name="Email">knutkohl@users.sourceforge.net</config>

      <config name="Version">0.3.0</config>

    </section>

  </section>

</configuration>
